In [3]:
import pandas as pd

In [5]:
df_population_data = pd.read_csv('/Users/tachikawashuuhei/Desktop/Programing/python-practice/c01.csv', encoding='shift-jis')

In [8]:
type(df_population_data)

pandas.core.frame.DataFrame

In [9]:
df_population_data

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,00,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,01,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,02,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,03,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,04,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
pd.reset_option('display.max_rows')

In [17]:
df_population_data

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,00,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,01,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,02,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,03,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,04,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_population_data.head(10)

  都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注    人口（総数）     人口（男）     人口（女）
0      00    全国  大正    9.0  1920.0  NaN  55963053  28044185  27918868
1      01   北海道  大正    9.0  1920.0  NaN   2359183   1244322   1114861
2      02   青森県  大正    9.0  1920.0  NaN    756454    381293    375161
3      03   岩手県  大正    9.0  1920.0  NaN    845540    421069    424471
4      04   宮城県  大正    9.0  1920.0  NaN    961768    485309    476459
5      05   秋田県  大正    9.0  1920.0  NaN    898537    453682    444855
6      06   山形県  大正    9.0  1920.0  NaN    968925    478328    490597
7      07   福島県  大正    9.0  1920.0  NaN   1362750    673525    689225
8      08   茨城県  大正    9.0  1920.0  NaN   1350400    662128    688272
9      09   栃木県  大正    9.0  1920.0  NaN   1046479    514255    532224

In [20]:
df_population_data.sample(10)

    都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注   人口（総数）    人口（男）    人口（女）
529      47   沖縄県  昭和   45.0  1970.0  NaN   945111   451393   493718
636      04   宮城県  昭和   60.0  1985.0  NaN  2176295  1071741  1104554
675      43   熊本県  昭和   60.0  1985.0  NaN  1837747   872932   964815
321      33   岡山県  昭和   25.0  1950.0  NaN  1661099   804357   856742
792      10   群馬県  平成   12.0  2000.0  NaN  2024852   999349  1025503
641      09   栃木県  昭和   60.0  1985.0  NaN  1866066   924221   941845
298      10   群馬県  昭和   25.0  1950.0  NaN  1601380   778910   822470
955      23   愛知県  平成   27.0  2015.0  NaN  7483128  3740844  3742284
976      44   大分県  平成   27.0  2015.0  NaN  1166338   551932   614406
978      46  鹿児島県  平成   27.0  2015.0  NaN  1648177   773061   875116

In [21]:
df_population_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   都道府県コード  982 non-null    object
 1   都道府県名    980 non-null    object
 2   元号       980 non-null    object
 3   和暦（年）    980 non-null    float64
 4   西暦（年）    980 non-null    float64
 5   注        96 non-null     object
 6   人口（総数）   980 non-null    object
 7   人口（男）    980 non-null    object
 8   人口（女）    980 non-null    object
dtypes: float64(2), object(7)
memory usage: 69.2+ KB

In [23]:
df_population_data.describe().round(0)

       和暦（年）   西暦（年）
count  980.0   980.0
mean    25.0  1968.0
std     17.0    29.0
min      2.0  1920.0
25%     12.0  1945.0
50%     22.0  1970.0
75%     40.0  1995.0
max     60.0  2015.0